{{ partial "head.html" . }}
<body {{ if .Params.id }}id='{{ .Params.id }}' {{end}} class="single-default">
    {{ partial "header.html" . }}

<main>
    <div class="container">

        <div class="row">
            <div class="col col-12">
                <div class="entry">
                    <div class="flex reverse">
                        <div class="entryContent text-center">
                            <div class="postMeta"><span>{{ .Date.Format "1.02.2006" }}</span></div>
                            <h1 class="postTitle">
                                {{ if .Params.outbound }}
                                <a href="{{ .Params.outbound }}" target="_blank">{{ .Title | safeHTML }}</a>
                                {{else}}
                                <a href="{{ .Permalink }}">{{ .Title | safeHTML }}</a>
                                {{end}}
                            </h1>
                            {{ if .Params.author }}<b>By {{.Params.author}}</b>{{end}}
                            <div class="entryDesc">{{ .Description | safeHTML }}</div>
                        </div>
                    </div>

                    {{ if .Params.image }}
                    <div class="col-12 text-center">
                        <img src='{{ .Param "image"}}' class="img-fluid lazy"
                        alt="{{ .Title | safeHTML }}">
                    </div>

                    {{end}}
                    <div class="singleContent">
                        {{.Content}}

                        {{ if .Params.callout }}
                        <div id="callout">
                            {{ .Params.callout | safeHTML }}
                        </div>
                        {{end}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{{ partial "schedule-assessment.html" . }}

{{ partial "footer.html" . }}

{{ partial "scripts.html" . }}

</body>
</html>
