/* Default Variables */
$header-font: "proxima-nova", sans-serif;
$body-font: "proxima-nova", sans-serif;
$button-font: "proxima-nova", sans-serif;

/* Form and Button Styling */
$button-radius: 3px;
$form-radius: 3px;
$line-height-desktop: 52px;
$line-height-mobile: 40px;

$base-fontsize: 18px;
$base-lineheight: 1.5em;

$max-width: 1250px;

$transition: 0.25s;

/* Colors */
$default: #333;
$light-grey: #555;
$btn-color: $default;
$facebook-blue: #3b5998;
$twitter-blue: #1da1f2;
$highlight: #00a4a4;
$pine: #0e383a;
$rhythm: #7f7e97;
$vanilla: #ede497;
$pink: #d891ce;

$body-background: $pine;
