<div class="col col-12">
    <div class="case-study-entry">
        <div class="flex reverse align-items-center justify-content-center">
            {{ if .Params.preview_image }}
            <div class="entryImg col col-12 col-md-4">
                {{ if .Params.outbound }}
                <a href="{{ .Params.outbound }}" target="_blank"><img src='{{ .Param "preview_image"}}' class="img-fluid lazy"
                        alt="{{ .Title | safeHTML }}"></a>
                {{else}}
                <a href="{{ .Permalink }}"><img src='{{ .Param "preview_image"}}' class="img-fluid lazy"
                        alt="{{ .Title | safeHTML }}"></a>
                {{end}}
            </div>
            {{else}}
            {{end}}
            <div class="entryContent col col-12 col-md-8 {{ if .Params.preview_image }}{{else}}text-center{{end}}">
                <h3 class="postTitle">
                    {{ if .Params.outbound }}
                    <a href="{{ .Params.outbound }}" target="_blank">{{ .Title | safeHTML }}</a>
                    {{else}}
                    <a href="{{ .Permalink }}">{{ .Title | safeHTML }}</a>
                    {{end}}
                </h3>

                <div class="entryDesc">{{ if .Params.author }}<b>By {{.Params.author}}</b> - {{end}}{{ .Description }}</div>
                {{ if .Params.outbound }}
                <a href="{{ .Params.outbound }}" target="_blank" class="entry-link text-gradient">Read More &rsaquo;</a>
                {{else}}
                <a href="{{ .Permalink }}" class="entry-link text-gradient">Read More &rsaquo;</a>
                {{end}}
            </div>
        </div>
    </div>
</div>