<section id="clientLogos">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-center mb-3">
                <h2>Some Really Nice Logos:</h2>
            </div>
        </div>
    
            <div class="logos" id="carousel">
                <div class="owl-carousel owl-theme">
                {{ range where (.Site.RegularPages.ByWeight) "Type" "logos" }}
                <div>
                    <div class="logoBx">
                    <img src="{{ .Params.image }}" alt="{{ .Title }} Logo"/>
                </div></div>
                {{end}}
                </div>
            </div>
    
    </div>  
</section> 