{{ $current := . }}
{{ range .Site.Menus.main }}
	{{ $active := or ($current.IsMenuCurrent "main" .) ($current.HasMenuCurrent "main" .) }}
	{{ $active = or $active (eq .Name $current.Title) }}
	{{ $active = or $active (eq .URL $current.RelPermalink) }}
	{{ $active = or $active (and (eq .Name "Updates") (eq $current.Section "updates")) }}

        {{ if .HasChildren }}{{else}}
		<li class="menu-item">
            <a class="{{ if $active }}current-menu-item{{ end }}"  href="{{ .URL }}">	
                <span>
                {{ .Name }}
                </span>
			</a>
		</li>
        {{end}}
            {{ if .HasChildren }}
                
                    {{ range .Children }}
                    <li class="menu-item">
                        <a class="{{ if $active }}current-menu-item{{ end }}" href="{{ .URL }}">{{ .Name }}</a> 
                        {{ if .HasChildren }}
                        <ul class="sub-menu">
                            {{ range .Children }}
                            <li class="menu-item">
                                <a class="{{ if $active }}current-menu-item{{ end }}" href="{{ .URL }}">{{ .Name }}</a> </li>
                            {{ end }}
                        </ul>
                        {{ end }}
                    </li>
                    {{ end }}
                
            {{ end }}
{{ end }}