<section id="latest-news">
    <div class="container">
        <div class="row text-center justify-content-center">
            <div class="col col-12 col-md-10 col-lg-8 col-xl-7">
            <h3 class="groupTitle">What we’ve been thinking about lately</h3>
            <p class="font22">We’re pretty deep into the IaC and platform engineering community — and we think about the state of the industry a lot. </p>
            <p class="font22">Here’s one of our most recent articles.</p>
        </div></div>
        <div class="row">
            {{ range first 1 (where (.Site.RegularPages) "Type" "blog") }}
                {{ partial "news-entry.html" .}}
            {{end}}
        </div>
        <div class="updates-btn text-center">
            <a href="/blog/" class="button btn-big btn-outline-gradient">Check out our blog →</a>
        </div>
    </div>
</section>
