<section id="schedule-assessment">
    <div class="container text-center">
        <h3 class="scheduleTitle text-pine mb-1">
            <span class="text-gradient">Ready to speed up</span><br>
your application engineering?</h3>
<p class="font22 mb-4"><strong>Unlock the next evolution of your cloud-architecture.</strong> Get in touch and we’ll build you a custom-tailored proposal for your platform needs.</p>
<a href="{{ .Site.Params.get_in_touch }}" target="_blank" class="button">Schedule Your Free Assessment →</a>        
</div>
</section>