<form accept-charset="UTF-8" action='{{ .Site.Params.form_endpoint }}' method="POST" class="aos-item" data-aos="fade-in">

    <input type="hidden" name="utm_source" value="">
    <input type="hidden" name="utm_medium" value="">
    <input type="hidden" name="utm_campaign" value="">

    <div class="col col-12 col-md-3 labelToggle">
        <label for="first_name_signup">First Name*</label>
        <input type="text" id="first_name_signup" class="formField" name="first_name" placeholder="ex. John or Jane" required>
    </div>

    <div class="col col-12 col-md-4 labelToggle">
        <label for="email_signup">Email Address*</label>
        <input type="email" id="email_signup" name="email" placeholder="ex. yourname@email.com" required class="formField labelToggle">
    </div>

    <div class="col col-12 col-md-2 labelToggle">
        <label for="phone_signup">Phone Number*</label>
        <input type="tel" id="phone_signup" name="phone" class="phone" placeholder="(123) 456-7890" required class="formField labelToggle">
    </div>

    <div class="col col-12 col-md-2 labelToggle">
        <label for="zip_signup">Zip Code*</label>
        <input type="text" id="zip_signup" name="zipcode" placeholder="12345" required class="formField labelToggle">
    </div>

    <div class="col col-12 col-md-1">
        <button type="submit" class="button buttonOutlineWhite">I'm In!</button>
    </div>

</form>
