<ul class="social-share">

    {{ if isset .Site.Params "linkedin_link" }}
    <li class="social"><a href="{{ .Site.Params.linkedin_link }}" target=_blank><i class="fab fa-linkedin" aria-hidden="true" title="linkedin link"></i><span class="sr-only">LinkedIn</span></a></li>
    {{ else }}{{ end }}

    {{ if isset .Site.Params "github_link" }}
    <li class="social"><a href="{{ .Site.Params.github_link }}" target=_blank><i class="fab fa-github" aria-hidden="true" title="github link"></i><span class="sr-only">GitHub</span></a></li>
    {{ else }}{{ end }}

    {{ if isset .Site.Params "facebook_link" }}
    <li class="social"><a href="{{ .Site.Params.facebook_link }}" target=_blank><i class="fab fa-facebook" aria-hidden="true" title="facebook link"></i><span class="sr-only">Facebook</span></a></li>
    {{ else }}{{ end }}
    
    {{ if isset .Site.Params "twitter_link" }}
    <li class="social"><a href="{{ .Site.Params.twitter_link }}" target=_blank><i class="fab fa-twitter" aria-hidden="true" title="twitter link"></i><span class="sr-only">Twitter</span></a></li>
    {{ else }}{{ end }}
    
    {{ if isset .Site.Params "instagram_link" }}
    <li class="social"><a href="{{ .Site.Params.instagram_link }}" target=_blank><i class="fab fa-instagram" aria-hidden="true" title="instagram link"></i><span class="sr-only">Instagram</span></a></li>
    {{ else }}{{ end }}
    
    {{ if isset .Site.Params "youtube_link" }}
    <li class="social"><a href="{{ .Site.Params.youtube_link }}" target=_blank><i class="fab fa-youtube" aria-hidden="true" title="youtube link"></i><span class="sr-only">Youtube</span></a></li>
    {{ else }}{{ end }}
    
    {{ if isset .Site.Params "newsletter_link" }}
    <li class="social"><a href="{{ .Site.Params.newsletter_link }}" target=_blank><i class="fa-solid fa-newspaper"></i><span class="sr-only">Newsletter</span></a></li>
    {{ else }}{{ end }}
    
    {{ if isset .Site.Params "rss_link" }}
    <li class="social"><a href="{{ .Site.Params.rss_link }}" target=_blank><i class="fas fa-rss" aria-hidden="true" title="rss link"></i><span class="sr-only">RSS</span></a></li>
    {{ else }}{{ end }}

</ul>