@font-face {
  font-family: 'Gotham-Bold';
  src: url('../fonts/Gotham-Bold.ttf')  format('truetype');
}

@font-face {
  font-family: 'RobotoSlab-Regular';
  src: url('../fonts/RobotoSlab-Regular.ttf')  format('truetype');
}

* {
  box-sizing: border-box;
}

html {
    font-family: 'RobotoSlab-Regular', serif;
    font-size: 18px;
    color: #FFF;
    height: 100%;
}

body {
  height: 100%;
  width: 100%;

  background-image: url('../img/maze_bg.png'), linear-gradient(-180deg, #4DA7A8 0%, #68CDc4 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.wrapper {
  width: 473px;
  margin: 0 auto;
  position: relative;
  top: 144px;
  text-align: center;
}

.logo {
  width: 310px;
  margin-bottom: 60px;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

p {
  margin-bottom: 35px;
  margin-top: 0;
}

h1 {
  font-family: 'Gotham-Bold';
  font-size: 28px;
  margin-bottom: 40px;
  margin-top: 0;
  line-height: 1.3em;
}

.cta-button {
  color: #FFF;
  border: none;
  font-family: 'Gotham-Bold';
  font-size: 24px;
  background-image: linear-gradient(-180deg, #FF8561 0%, #E85E24 100%);
  box-shadow: 0 4px 10px 0 rgba(59, 127, 126, 0.50);
  border-radius: 100px;
  padding: 10px 20px;
  margin-bottom: 35px;
}

.cta-button a {
  color: #FFF;
  text-decoration: none;
}

.cta-button:active, .cta-button:hover {
  outline: none;
  border: none;
}

.browserupgrade {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    margin: 0 0;
    padding: 0.2em 0;
    background: #ccc;
    color: #000;
    text-align: center;
}

.share-buttons {
  list-style: none;
  padding: 0;
}

.share-buttons li {
  display: inline;
  margin-left: 5px;
}

.share-buttons .github-icon {
  width: 32px;
  height: 32px;
  background-color: black;
  border-radius: 100%;
  display: inline-block;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width: 480px) {
  body {
    padding: 0 38px 0 38px;
    letter-spacing: 0;
  }

  .wrapper {
    width: 100%;
    top: 128px;
  }

  .logo, h1 {
    margin-bottom: 24px;
  }

  h1, .cta-button {
    font-size: 20px;
  }

  p, .cta-button {
    margin-bottom: 35px;
  }

  p {
    font-size: 16px;
  }
}

@media only screen and (max-width: 768px) {}

@media only screen and (max-width: 1140px) {}

/* Clearfix */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}
