<form accept-charset="UTF-8" action='{{ .Site.Params.form_endpoint }}'method="POST">

    <input type="hidden" name="utm_source" value="">
    <input type="hidden" name="utm_medium" value="">
    <input type="hidden" name="utm_campaign" value="">


    <div class="col col-12 col-sm-3 labelToggle">
        <label for="first_name">First Name*</label>
        <input type="text" id="first_name" class="formField" name="first_name" placeholder="ex. John or Jane" required>
    </div>

    <div class="col col-12 col-sm-3 labelToggle">
        <label for="last_name">Last Name*</label>
        <input type="text" id="last_name" class="formField" name="last_name" placeholder="ex. Doe" required>
    </div>

    <div class="col col-12 col-sm-6 labelToggle">
        <label for="email">Email Address*</label>
        <input type="email" id="email" name="email" placeholder="ex. yourname@email.com" required class="formField labelToggle">
    </div>

    {{/*  <div class="col col-12 col-sm-3 labelToggle">
        <label for="phone">Phone Number*</label>
        <input type="tel" id="phone" class="phone" name="phone" placeholder="(123) 456-7890" required class="formField labelToggle">
    </div>  */}}


    <div class="col col-12 labelToggle">
        <label for="message">Inquire...</label>
        <textarea name="message" id="message" cols="30" rows="10" placeholder="What can I help you with?" class="formField labelToggle"></textarea>
    </div>

    <div class="col text-center">
        <button type="submit" class="button">Send Inquiry</button>
    </div>

</form>