<div class="services-row row">
    {{ range where (.Site.RegularPages.ByWeight) "Type" "steps" }}
    <div class="col col-12 col-md-4">
        <div class="serviceBx">
            <div class="serviceIcon bg-gradient">
                {{if .Params.icon}}
                <img src="{{.Params.icon}}" />
                {{end}}
            </div>
            <h3 class="serviceTitle homeServiceTitle">
                {{if .Params.home_title}}
                    {{.Params.home_title}}
                {{else}}
                    {{.Title}}
                {{end}}
            </h3>
            <div class="serviceDesc">{{.Params.home_description}}</div>
        </div>
    </div>
    {{end}}
</div>