<div class="services-row row justify-content-center">
    {{ range where (.Site.RegularPages.ByWeight) "Type" "services" }}
    <div class="col col-12 col-md-6">
        <div class="serviceBx">
            {{if .Params.icon}}
                <div class="serviceIcon bg-gradient">
                    <img src="{{.Params.icon}}" />
                </div>
            {{end}}
            {{if .Params.badge}}
                <div class="serviceBadge">
                    <img src="{{.Params.badge}}" />
                </div>
            {{end}}
            <h3 class="serviceTitle">
                {{.Title}}
            </h3>
            <div class="serviceDesc">{{.Description}}</div>
        </div>
    </div>
    {{end}}
</div>