{{ partial "head.html" . }}

<body id="thank-you">

{{ partial "header.html" . }}

<div id="banner">
    <div class="container">

        <div class="row text-center justify-content-center">
            <div class="col col-12 col-md-10 col-lg-8 col-xl-7">

                <h2 class="text-gradient">{{ .Title }}</h2>
                <p>{{ .Description | safeHTML }}</p>

            </div>
        </div>
    </div>
</div>

<div id="main">
    <div class="container">
        <div class="row">
            <div id="thank-you-news" class="text-wrapper">
                {{ partial "latest-news.html" . }}
            </div>
        </div>
    </div>
</div>

{{ partial "footer.html" . }}

{{ partial "scripts.html" . }}

</body>
</html>
