{{ partial "head.html" . }}

<body id="thank-you">

{{ partial "header.html" . }}

<div id="banner">
    <div class="container">

        <div class="row text-center justify-content-center">
            <div class="col col-12 col-md-10 col-lg-8 col-xl-7">
                <img src="/img/thank-you-dog.png"
                    alt="Masterpoint Dog with a thank you note"
                    class="img-fluid masterpoint-dog-img"
                    style="max-width: 400px" />

                <h2 class="text-gradient">{{ .Title }}</h2>
                <p>{{ .Description | safeHTML }}</p>

            </div>
        </div>
    </div>
</div>

<main id="main">
    {{ partial "latest-news.html" . }}
</main>

{{ partial "schedule-assessment.html" . }}

{{ partial "footer.html" . }}

{{ partial "scripts.html" . }}

</body>
</html>
